@font-face {
  font-family: customFont;
  src: url("../public/fonts/Reglisse/Reglisse_Back.otf");
}

.container {
  height: 100%;
  padding: 1em 4em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.logoImage {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 80%;
  margin-bottom: -4em;
  margin-left: -35px;
  padding: 0;
  z-index: 999;
}

.name {
  font-family: customFont, "Nunito";
  letter-spacing: 0.1em;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #0a4950;

  font-size: 2em;
}

.h {
  font-weight: bolder;
  font-size: 2.1em;
  color: #f87d5c;
}

.s {
  font-weight: bolder;
  font-size: 2.1em;
  color: #f9cb5e;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  .container {
    padding: 1em 3em;
  }
  .name {
    margin-top: 0.5em;
    font-size: 1.4em;
  }

  .h,
  .s {
    font-size: 1.7em;
  }
}
